flask
flask-restful
flask_wtf
pymysql
psycopg2-binary==2.7.7
flask-sqlalchemy==2.3.2
flask-migrate==2.3.1
flask-script
flask-cors
numpy==1.16.1
geoalchemy2==0.5.0
scipy==1.2.1
scikit-learn==0.20.2
fbprophet
holidays==0.9.8
geojson
shapely
bcrypt
flask-jwt-extended==3.17.0
pytest==4.2.0
sendgrid==5.6.0
gunicorn
celery==v4.3.0rc1
apscheduler==3.5.3
redis==3.2.0
requests
retrying
pyyaml==3.13
simplekml
simplejson