flask
flask-restful
flask_wtf
pymysql
psycopg2-binary
flask-sqlalchemy
flask-migrate
flask-script
flask-cors
numpy
geoalchemy2
scipy
scikit-learn
fbprophet
holidays==0.9.8
geojson
shapely
bcrypt
flask-jwt-extended
pytest
sendgrid
gunicorn
celery==v4.3.0rc1
apscheduler
retrying
pyyaml
simplekml
simplejson
redis
requests