@font-face {
  font-family: 'BrandonText';
  font-style: normal;
  font-weight: 400;
  src:
    local('BrandonText'),
    local('BrandonText-Regular'),
    url('./../fonts/BrandonText-Regular.otf') format('otf');
}

@font-face {
  font-family: 'BrandonText';
  font-style: normal;
  font-weight: 700;
  src:
    local('BrandonText Black'),
    local('BrandonText-Black'),
    url('./../fonts/BrandonText-Black.otf') format('otf');
}