.react-grid-item.react-grid-placeholder {
  background: #D54A44;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.react-resizable .react-resizable-handle {
  display: none;
}

.react-resizable:hover .react-resizable-handle {
  display: block;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(129, 207, 199, 1);
  border-bottom: 2px solid rgba(129, 207, 199, 1);
}
